$desktop-container-padding: calc(45px + (98 - 45) * ((100vw - 1024px) / (1366 - 1024)));
$tablet-container-padding: calc(15px + (45 - 15) * ((100vw - 768px) / (1023 - 768)));
$mobile-container-padding: 15px;
