// Version
$mobile-widths-only: "max-width: 767px";
$tablet-widths-max: "max-width: 1023px";
$desktop-widths: "min-width: 1024px";
$desktop-big-width: "max-width: 1366px";

$retina: "min-resolution: 2dppx";

// Fonts
$font-poppins: "Poppins", "Arial", sans-serif;
$font-cormorant-garamond: "Cormorant Garamond", "Arial", serif;


// color
$basic-color: #ffffff;
$basic-additional-color: #000000;
$text-color: #1d1613;
$text-additional-color: #9b9997;
$decorative-color: #a87b62;
$blog-title-color: #f0eae4;
$text-title-color: #203c42;
$main-background-image-color: #564034;
