// Version
$mobile-widths-only: "max-width: 767px";
$tablet-widths-max: "max-width: 1023px";
$desktop-widths: "min-width: 1024px";
$desktop-big-width: "max-width: 1366px";

$retina: "min-resolution: 2dppx";

// Fonts
$font-poppins: "Poppins", "Arial", sans-serif;
$font-cormorant-garamond: "Cormorant Garamond", "Arial", serif;


// color
$basic-color: #ffffff;
$text-other-color: #1f1f1f;
$decorative-color: #00b2ff;
$background-color: #1b2d37;
$text-title-color: #203c42;
$text-about-color: #788891;
$main-text-color: #666666;
